.Test {
  display: flex;
  width: 1440px;
  margin: 50px auto;
  gap: 30px;
  padding: 30px;
  flex-wrap: wrap;
  flex-direction: column;
  select {
    max-width: fit-content;
    padding: 0.6rem;
    border-radius: 6px;
    font-size: 22px;
  }
  table {
    border-collapse: collapse;
    th,
    td {
      padding: 0.6rem;
      border: 1px solid #111;
    }
  }
}

span {
  padding: 5px;
  background-color: red;
  display: inline-block;
  transform: translateX(10px);
  svg {
    cursor: pointer;
  }
}
