table {
  width: 1200px;
  margin: 20px auto;
  background-color: #1a1a1a;
  color: gainsboro;
  border-collapse: collapse;
  thead {
    background-color: rgb(35, 78, 218);
  }
  td,
  th {
    padding: 20px 30px;
    font-size: 20px;
    border: 1px solid #fff;
  }
  tr {
    border-bottom: 3px solid #222;
  }
}
