@use './variablies' as v;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: v.$body-width;
  line-height: 1.5;
  font-optical-sizing: auto;
  font-family: v.$main-font-family;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

div.devider {
  flex-grow: 1;
  height: 100px;
  width: 100%;
  flex-basis: 100%;
}
