.Axios {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
  align-content: start;
  gap: 30px;
  min-height: 180px;

  &>div {
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: floralwhite;
    outline: 1px solid #233;
    border-radius: 12px;
    flex-basis: 22%;

    position: relative;

    h3 {
      font-size: 30px;
    }

    .btn__del {
      position: absolute;
      right: 0px;
      top: 0px;
      border-radius: 50%;
      width: 34px;
      height: 34px;
      padding: 0;
      background-color: crimson;
      font-weight: 600;
      color: #fff;
      border: 1px solid olive;
    }
  }
}

ul li {
  font-size: 18px;

  span {
    padding: 2px 4px;
    color: rgb(17, 131, 139);
    text-decoration: underline;
    border-radius: 6px;
    margin-bottom: 4px;


  }
}

h1 {
  margin: 40px 0;
}

hr {
  margin: 20px auto;
  width: 60%;

}

.Archive {
  &>div {
    background-color: lightgray;


    &>.btn__restore {
      position: absolute;
      top: 15px;
      right: 15px;
      background-color: #10ce66;
      padding: 4px 8px;
      font-size: 16px;
    }
  }
}

img {
  width: 30px;
}