.Title {
  font-family: 'Cabin Sketch', sans-serif;
  font-size: 5em;
  text-align: center;
  font-style: normal;
  background-color: #1a1a1a;
  color: crimson;
  padding: 3rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  clip-path: polygon(50% 0%, 100% 0, 90% 100%, 8% 100%, 0 0);

  &::after {
    content: ' :)';
    position: absolute;
    rotate: 7deg;
    scale: 1;
    padding-left: 30px;
    font-size: 1em;
    top: 30px;
  }
}
